// Move all common detail styles to site.less

.set-container {
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.set-details {
    border-bottom: solid 1px black;
}

.set-pictures {
    display: flex;
    justify-content: space-around;
}

.set-vs {
    align-self: flex-end;
}

.set-names {
    display: flex;
    justify-content: space-between;
}