@model Climb.ViewModels.BaseViewModel

<footer class="footer">
    <div class="container pt-3">
        <span class="text-muted">
            <p>© Steve Yeager 2018</p>
            <p class="text-muted">Bugs? Questions? Feedback? <a asp-controller="Site" asp-action="Support">Contact the developer</a></p>
        </span>
    </div>
</footer>