@model Climb.ViewModels.Seasons.SeasonParticipantViewModel

<link rel="stylesheet" href="~/dist/league/leagueuser.css"/>

<div class="leagueUser-container">
    <img src="@Model.ProfilePic" width="64" height="64"/>
    <div>
        <div>@Model.Participant.LeagueUser.User.UserName</div>
        <div>
            <div>Standing=@Model.Participant.Standing</div>
            <div>Points=@Model.Participant.Points</div>
        </div>
    </div>
</div>