<h1 id="react-app"></h1>

@section scripts {
    <script src="~/lib/react/react.min.js"></script>
    <script src="~/lib/react/react-dom.min.js"></script>
    <script src="~/dist/app/bundle.js"></script>
}