<div id="react-app">Climbing...</div>
@section scripts {
    <script src="~/lib/require.js"></script>
    <script src="~/dist/ReactApp.js"></script>
    @*<script src="~/dist/script.js"></script>*@
}