@model Climb.ViewModels.BaseViewModel

@{
    ViewBag.Title = "Set-Fight";
    Layout = "_LayoutWithNavbar";
}

<h1 id="react-app"></h1>

@section scripts {
    <link href="~/dist/styles/matches.css" rel="stylesheet"/>
    <script src="~/lib/react/react.min.js"></script>
    <script src="~/lib/react/react-dom.min.js"></script>
    <script src="~/dist/app/bundle.js"></script>
}