@{
    ViewData["Title"] = "Error";
}

<div class="flex col justify-center align-center center-full-content">
    <h1 class="large-text">ERROR</h1>
    <div class="responsive-img">
        <img src="~/images/404.jpg" />
    </div>
    <h3 class="margin-top-25">"@ViewData["ErrorUrl"]@ViewData["ErrorQueryString"]" could not be found</h3>
    <h4 class="margin-top-25">Here are some places you can go from here:</h4>
    <div>
        <a href="#"><i class="fas fa-arrow-left"></i> Back</a>
        <a class="margin-left-25" href="#">Your Leagues</a>
        <a class="margin-left-25" href="#">Your Seasons</a>
        <a class="margin-left-25" asp-controller="User" asp-action="Home">Your Homepage</a>
    </div>
</div>
