@model Climb.ViewModels.Site.HomeViewModel

@{
    ViewBag.Title = "Climb";
    Layout = "_LayoutWithNavbar";
}

<link rel="stylesheet" href="~/dist/site-home.css" />

<div id="banner">
    <img src="~/images/logo/logo-128x128.png" alt="logo"/>
    <h1>Welcome to Climb!</h1>
    <p id="description">
        This site is for Fighting Game Leagues. Climb has Seasons, Power Rankings, Stats, and more! Happy punching and good luck in your Climb to the top!
    </p>
    
    <h3>Games</h3>
    @foreach(var game in Model.Games)
    {
        <div>
            <a asp-controller="Game" asp-action="Home" asp-route-gameID="@game.ID">@game.Name</a>
        </div>
    }
</div>