@import "../vars.less";

.points {
    font-size: 1.5em;
    color: @color-darker;
    padding-left: @league-user-padding;
}

.rank {
    font-size: 3em;
    font-weight: 700;
    color: @color-accent;
    padding-left: @league-user-padding;
}

.username {
    font-size: 1.25em;
    overflow-wrap: break-word;
    min-width: 20px;
    padding-left: @league-user-padding;
}

