@import "../vars.less";

.leagueuser-container {
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.leagueuser-details {
    display: flex;
    justify-content: space-around;
}