@using Climb.Controllers
@model Climb.ViewModels.BaseViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<div class="container">
    @if (ViewData.ContainsKey(AccountController.EmailKey))
    {
        <p>Email has been sent to @ViewData[AccountController.EmailKey]</p>
    }
    else
    {
        <form asp-action="ForgotPasswordPost" class="form-group">
            <div class="input-group">
                <label for="email">Email</label>
                <input id="email" class="form-control" name="email" type="email" />
            </div>
            <button class="btn btn-primary">Send Recovery Email</button>
        </form>
    }
</div>