@model Climb.ViewModels.Account.RegisterViewModel

@{
    ViewBag.Title = "Account-Register";
}

<div class="container mt-4 px-5">
    <img class="mb-4" src="~/images/logo/logo-128x128.png" width="128" height="128">
    <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>

    <form class="form-signin" asp-action="RegisterPost" method="post">
        <div class="form-group">
            <input asp-for="Request.Email" class="form-control" placeholder="Email Address" autofocus>
            <span asp-validation-for="Request.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Request.Name" class="form-control" placeholder="Name" autofocus>
            <span asp-validation-for="Request.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Request.Username" class="form-control" placeholder="Username" autofocus>
            <span asp-validation-for="Request.Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Request.Password" class="form-control" placeholder="Password" autofocus>
            <span asp-validation-for="Request.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Request.ConfirmPassword" class="form-control" placeholder="Confirm Password" autofocus>
            <span asp-validation-for="Request.ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-check mb-3">
            <input id="rememberMe" class="form-check-input" type="checkbox" name="RememberMe" value="remember-me">
            <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block my-4" type="submit">Register</button>
        <a asp-action="LogIn">Log In</a>
    </form>
</div>