@model Climb.ViewModels.BaseViewModel

@{
    ViewBag.Title = "Reset Password";
}

<div class="container">
    <form asp-action="ResetPasswordPost">
        <input class="form-control" type="hidden" name="userID" value="@ViewData["User"]" />
        <input class="form-control" type="hidden" name="code" value="@ViewData["Code"]" />
        <input class="form-control" type="password" name="password" placeholder="Password" />
        <input class="form-control" type="password" name="confirm" placeholder="Confirm Password" />
        <button class="btn btn-primary">Reset</button>
    </form>
</div>