@model Climb.ViewModels.Account.SettingsViewModel

@{
    ViewBag.Title = "Account-Settings";
    Layout = "_LayoutWithNavbar";
}

<div>
    <h3>@Model.User.UserName Settings</h3>
    <form asp-action="UpdateSettings" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" id="inputName" name="Name" class="form-control" value="@Model.User.Name" autofocus>
        </div>
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" id="inputUsername" name="Username" class="form-control" value="@Model.User.UserName" required autofocus>
        </div>
        <div class="form-group">
            <img src="@Model.ProfilePic" />
            <input type="file" id="inputProfilePic" name="ProfilePic" class="form-control" autofocus>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
    </form>
</div>