@model Climb.ViewModels.Leagues.LeagueUserViewModel

<link rel="stylesheet" href="~/dist/styles/league/leagueuser.css"/>

<div class="detail-card">
    <img src="@Model.ProfilePic" width="64" height="64"/>
    <div class="username">@Model.LeagueUser.User.UserName @*WWWWWWWWWWWW*@</div>
    <div class="rank">@Model.LeagueUser.Rank @*000*@</div>
    <div class="points">(@Model.LeagueUser.Points) @*(0000)*@</div>
</div>