@model Climb.ViewModels.Leagues.LeagueUserViewModel

<link rel="stylesheet" href="~/dist/styles/league/leagueuser.css"/>

<div class="leagueuser-container mb-2">
    <p>@Model.LeagueUser.League.Name</p>
    <div class="leagueuser-details">
        <img src="https://pbs.twimg.com/profile_images/697220635198689285/T34coLzR_400x400.png" width="64" height="64" />
        <div>
            <p>@Model.LeagueUser.Rank</p>
            <p>@($"({Model.LeagueUser.Points})")</p>
        </div>
        <img src="https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/arrow-alt-up.png" width="32" height="32"/>
    </div>
</div>