@model Climb.ViewModels.Users.HomeViewModel

@{
    ViewBag.Title = "Users-Home";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/dist/style2.css" />

<h2>Users-Home</h2>
<h3>Welcome @Model.User.UserName</h3>
<img src="@Model.ProfilePic"/>