@model Climb.ViewModels.User.HomeViewModel

@{
    ViewBag.Title = "User-Home";
    Layout = "_Layout";
}

<h2>User-Home</h2>
<h3>Hello @Model.User.UserName</h3>
<h4>Leagues</h4>
@{
    foreach(var league in Model.Leagues)
    {
        <div>@league.Name</div>
    }
}