@model Climb.ViewModels.Games.HomeViewModel

@{
    ViewBag.Title = "Games-Home";
    Layout = "_LayoutWithNavbar";
}

<link rel="stylesheet" href="~/dist/game/game-home.css"/>

<div>
    <h1>@Model.Game.Name</h1>

    <div>
        <div class="game-header">
            <h3>Characters</h3>
            <a asp-action="CharacterAdd">Add</a>
        </div>
        @foreach (var character in Model.Game.Characters)
        {
            <div>@character.Name</div>
        }
    </div>
    @if(Model.Game.HasStages)
    {
        <div>
            <div class="game-header">
                <h3>Stages</h3>
                <a asp-action="StageAdd">Add</a>
            </div>
            @foreach(var stage in Model.Game.Stages)
            {
                <div>@stage.Name</div>
            }
        </div>
    }
</div>