.match-summary-container {
    border: 1px black solid;
}

.match-summary-index {
    text-align: center;
}

.match-summary-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}